
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background: #fca3c0;
}

nav .logo{
    cursor: pointer;
    padding: 26px 0px;
    height: 30px;
    float: left;
    margin-left: -36;
    font-family: Hobo Std;
    font-weight: lighter;
    font-size: 37;
    color: white;
}
    
nav .icon{
    cursor: pointer;
    padding: 10px 50px;
    height: 20px;
    float: left;
}

*{
    margin: O;
    padding: 0;
    font-family: Myriad Pro;
    font-size: 30;
}

ul{
    float: right;
    list-style-type: none;
    margin: 30;  
    margin-right: -28;
}
    
ul li{
    display: inline-block;    
}

ul li a{
    text-decoration: none;
    color: white;
    padding: 10px 30px; 
}

.main{
    max-width: 1590px;
    margin: 0;
}

ul li a img{
    margin: -24;
}

.searchbar
{
    margin-top: -5.3%;
    margin-left: 1.8%;
}

#searchbox{
    width: 48%;
    margin: auto;
    margin-top: 43;
    margin-right: 8.4%;
}

#searchbox input{
    width: 75%;
    border: 1px solid #E4E1E1;
    border-radius: 50px;
    font-size: 21px;
    padding: 9px;
    background: transparent;
    color: black;
    text-align: left;
    padding-left: 80px;   
}

#searchbox button{
    width: 14%;
    border-radius: 50px;
    font-size: 21px;
    border: none;
    background: #fca3c0;
    color: black;
    float: right;
    padding: 3.8;
    margin-right: 25.8%;
    margin-top: -4.6%;
    text-align: center;
    transform: translate(0%,0%);
}

#searchbox button:hover{
    opacity: .8;
}

#searchbox input:hover{
    opacity: .8;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    padding-top: 150px;
}

/* shop content */
.shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 260px));
    gap: 2.4rem;
    margin-top: 1.3rem;
    margin-bottom: 0.5rem;
    margin-left: 28%;
}

.product-box {
    position: relative;
}

.product-box:hover{
    padding: 6px;
    border: none var(--text-color);
    transition: 0.5s;
}

.product-img {
    width: 100%;
    height: auto;
    margin-bottom: 5rem;
}

.product-title{
    font-size: 17;
    font-family: Myriad Pro;
    font-weight: 500;
    margin-top: 15;
    margin-left: 4;
}

.price {
    font-size: 20;
    font-family: Myriad Pro;
    font-weight: bold;
    position: absolute;
    padding-top: 11;
    margin-left: 4;
} 

.black-cart {
    position: absolute;
    cursor: pointer;
    padding-top: 4;
    margin-left: 78;
}

.shop-content2 {
    display: grid; /* issue: When I click the fouth product in first row, the second row will move. How to keep same? */
    grid-template-columns: repeat(auto-fit, minmax(220px, 260px));
    gap: 2.4rem;
    margin-top: 4rem;
    margin-left: 28%;
}

.category{
    margin-top: -830;
}

.row{
    margin-left: 100;
}

.product-category{
    margin-left: 60;
    margin-top: -40;
    font-size: 35;
    font-family: Myriad Pro;
    font-weight: lighter;
}

.music-list{
    cursor: pointer; /* issue: 1. It seems useless that add cursor 2. How to add 'bold' individual and not change 'font-size' 3. When open in 'Live Server', it seems that the placement is mess in Microsoft*/
    text-align: center;
    margin-left: 9%;
    margin-top: 1.8%;
    position: absolute;
    font-size: 25;
    font-family: Myriad Pro;
    font-weight: lighter;
    display: grid;
    line-height: 186%;
}

.rectangle{
    border: 1px solid #fe78ad;
    position: absolute;
    margin-left: 7.2%;
    margin-top: 1%;
    width: 210px;
    height: 818px;
    display: grid;
    background-color: transparent;  
}

.sorty{
    position: absolute;
    font-size: 21;
    font-family: Myriad Pro;
    font-weight: bold;
    margin-left: 22%;
    margin-top: 0.5%;
}

.sortimage {
    position: absolute;
    cursor: pointer;
    margin-left: 25.8%;
    margin-top: -0.5%;
}

.filte{
    position: absolute;
    font-size: 21;
    font-family: Myriad Pro;
    font-weight: bold;
    margin-left: 30%;
    margin-top: 0.5%;
}

.filterimage{
    position: absolute;
    cursor: pointer;
    margin-left: 32.8%;
    margin-top: -0.4%;
}

.feature{
    margin-left: 11;
}

.filter{
    margin-left: 15;
}

.showall{
    position: absolute;
    cursor: pointer;
    font-size: 21;
    font-family: Myriad Pro;
    font-weight: lighter;
    margin-left: 42.5%;
    margin-top: -3%;
}

.newrelease{
    position: absolute;
    cursor: pointer;
    font-size: 21;
    font-family: Myriad Pro;
    font-weight: bold;
    margin-left: 53.5%;
    margin-top: -3%;
}

.preorder{
    position: absolute;
    cursor: pointer;
    font-size: 21;
    font-family: Myriad Pro;
    font-weight: lighter;
    margin-left: 66.5%;
    margin-top: -3%;
}

.sale{
    position: absolute;
    cursor: pointer;
    font-size: 21;
    font-family: Myriad Pro;
    font-weight: lighter;
    margin-left: 78%;
    margin-top: -3%;
}


