
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background: #fca3c0;
}

nav .logo{
    cursor: pointer;
    padding: 26px 0px;
    height: 30px;
    float: left;
    margin-left: -36;
    font-family: Hobo Std;
    font-weight: lighter;
    font-size: 37;
    color: white;
}
    
nav .icon{
    cursor: pointer;
    padding: 10px 50px;
    height: 20px;
    float: left;
}

*{
    margin: O;
    padding: 0;
    font-family: Myriad Pro;
    font-size: 30;
}

ul{
    float: right;
    list-style-type: none;
    margin: 30;  
    margin-right: -28;
}
    

ul li{
    display: inline-block;    
}

ul li a{
    text-decoration: none;
    color: white;
    padding: 10px 30px; 
}

.main{
    max-width: 1590px;
    margin: 0;
}

ul li a img{
    margin: -24;
}

.return{
    position: absolute;
    margin-left: 5.7%;
    margin-top: 6.6%;
    cursor: pointer;
}

.shopcart{
    position: absolute;
    font-size: 35;
    font-family: Myriad Pro;
    font-weight: 100;
    margin-left: 8.2%;
    margin-top: -13.5%;
}

.Pto {
    position: absolute;
    width: 395px;
    height: 61px;
    font-size: 30;
    font-family: Myriad Pro;
    color: black;
    border: 1px solid #579E2F;
    border-radius: 50px;
    background-color: transparent;
    z-index: 1;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
    margin-top: 51%;
    margin-left: 69.7%;
}

.Pto:hover{
    background-color: #F2F2F2;
    color: black;
}

.order{
    position: absolute;
    margin-left: 66%;
    margin-top: 6.7%;
}

#vertical-line{
    width: 1px;
    height: 100.5%;
    background-color: #FE78AD;
    margin-left: 61%;
}

.detail{
    margin-left: 9%;
    margin-top: 10.7%;
    position: absolute;
}

.a{
    font-size: 35;
    position: absolute;
    margin-left: 8.8%;
    margin-top: -53.8%;
    font-weight: 200;
}

.container{
    margin-top: -35%;
    margin-left: 9%;
    
}

.C{
    font-size: 20;
    font-family: Myriad Pro;
    margin-left: 2.5%;
}

.T{
    font-size: 20;
    font-family: Myriad Pro;
    margin-top: -2.5%;
    margin-left: 28%;
    position: absolute;
}

.form input{
    width: 752px;
    height: 42px;
    font-size: 20;
    font-family: Myriad Pro;
    border: 1px solid #E4E1E1;
}

.card{
    position: absolute;
    margin-top: 0.5%;
}

.card input{
    padding-left: 20px;
}

.name{
    position: absolute;
    margin-top: 4.5%;
}

.name input{
    padding-left: 20px;
}

.valid{
    position: absolute;
    margin-top: 8.5%;
}

.valid input{
    padding-left: 20px;
}

.cvc{
    position: absolute;
    margin-top: 12.5%;
}

.cvc input{
    padding-left: 20px;
}

.lock{
    position: absolute;
    margin-top: 0.75%;
    margin-left: 46.5%;
}

.checkbox{
    position: absolute;
    margin-top: -2.5%;
    margin-left: 9.5%;
}