@media only screen and (max-width:767px) {   
nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 59;
    background: #fca3c0;
}

ul{
    float: right;
    list-style-type: none;  
    margin-right: -7; 
    margin-top: 7;
}
    
ul li{
    display: inline-block;  
}

ul li a{
    text-decoration: none;
    color: white;
    padding: 20px 11px; 
}

.main{
    max-width: 1590px;
}

ul li a img{
    margin: -24;
    margin-left: -120%;
    margin-top: 30%;
}

.ham{
    margin-top: -9;
    position: absolute;
    margin-left: -43;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    padding-top: 150px;
}

.row{
    margin-left: 17;
    margin-top: -76;
    position: absolute;
}

.showall{
    position: absolute;
    cursor: pointer;
    font-size: 14;
    font-family: Myriad Pro;
    font-weight: lighter;
    margin-left: 16%;
    margin-top: -227.7%;
}

.ca{
    position: absolute;
    font-size: 21;
    font-family: Myriad Pro;
    font-weight: lighter;
    margin-left: 39%;
    margin-top: -33%;
    color: white;
}

.Addcart {
    position: absolute;
    width: 285px;
    height: 54px;
    font-size: 25;
    font-family: Myriad Pro;
    color: black;
    border: 1px solid #579E2F;
    border-radius: 50px;
    background-color: transparent;
    z-index: 1;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
    margin-top: 155%;
    margin-left: 13.5%;
}

.Addcart:hover{
    background-color: #F2F2F2;
    color: black;
}

.close{
    margin-top: -209%;
    position: absolute;
    margin-left: -60;
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 8.5;
    width: 260px;
    min-height: 1008px;
    display: block;
    z-index: 98;
    background-image: linear-gradient(#fadedb,#fe78ad);
    padding-top: 120px;
    transition: 0.5s;
    
}

.mobile-nav a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 30px;
    font-family: Myriad Pro;
    text-align: left;
    padding: 10px 2px;
    color: white;
    text-decoration: none;
    font-size: 30;
}

.ship1{
    position: absolute;
    margin-left: 5.1%;
    margin-top: -9.5%;
}

.ship3{
    position: absolute;
    margin-left: 6.5%;
    margin-top: 90%;
}

.container{
    margin-top: 25%;
    margin-left: 2.8%;
    
}

.pay{
    font-size: 16;
    font-family: Myriad Pro;
}

.C{
    font-size: 14;
    font-family: Myriad Pro;
    margin-left: 9.5%;
    margin-top: 3%;
    position: absolute;
}

.T{
    font-size: 14;
    font-family: Myriad Pro;
    margin-top: 3%;
    margin-left: 51%;
    position: absolute;
}

.form input{
    width: 349px;
    height: 28px;
    font-size: 16;
    font-family: Myriad Pro;
    border: 1px solid #E4E1E1;
}

.card{
    position: absolute;
    margin-top: 11%;
}

.card input{
    padding-left: 20px;
}

.name{
    position: absolute;
    margin-top: 23%;
}

.name input{
    padding-left: 20px;
}

.valid{
    position: absolute;
    margin-top: 35%;
}

.valid input{
    padding-left: 20px;
}

.cvc{
    position: absolute;
    margin-top: 47%;
}

.cvc input{
    padding-left: 20px;
}

.lock{
    position: absolute;
    margin-top: 11.5%;
    margin-left: 82%;
}

.checkbox{
    position: absolute;
    margin-top: 3%;
    margin-left: 6%;
}

.close{
    margin-top: -209%;
    position: absolute;
    margin-left: -60;
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 8.5;
    width: 260px;
    min-height: 1008px;
    display: block;
    z-index: 98;
    background-image: linear-gradient(#fadedb,#fe78ad);
    padding-top: 120px;
    transition: 0.5s;
    
}

.mobile-nav a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 30px;
    font-family: Myriad Pro;
    text-align: left;
    padding: 10px 2px;
    color: white;
    text-decoration: none;
    font-size: 30;
}
}

